/* Estilos generales */
body, html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  padding: 10px; /* Corregido */
}

header {
  background-image: url('imagenes/photo_2025-03-12_11-15-29.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 0; /* Ajusta el padding */
  text-align: center;
  position: relative;
  max-height: 400px; /* Limita la altura máxima */
}

main {
  margin-bottom: 150px; /* Aumenta el margen si es necesario */
}

.fotocategorias {
  width: 100%; /* Asegura que la imagen no se desborde */
  height: auto;
  display: block;
  margin: 10px auto;
}

#platos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background-color: transparent;
}

.plato {
  background-color: transparent;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
  text-align: center;
}

.plato-imagen {
  width: 100%;
  height: auto;
  border-radius: 1px;
  object-fit: cover;
}

.plato h3 {
  margin: 10px 0 5px;
  font-size: 1.2em;
  color: #333;
}

.plato h4 {
  margin: 0;
  font-size: 1em;
  color: #666;
}

.plato p {
  margin: 0;
  font-size: 1.2em;
  color: #555;
}

.plato button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.plato button:hover {
  background-color: #cc0000;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px; /* Añade un poco de padding */
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsividad */
@media (max-width: 768px) {
  header {
      padding: 50px 0; /* Reduce el padding en pantallas pequeñas */
  }

  #platos-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .plato h3 {
      font-size: 1.3em;
  }

  .plato p {
      font-size: 1em;
  }
}

@media (max-width: 480px) {
  header {
      padding: 30px 0; /* Reduce aún más el padding en móviles */
  }

  #platos-container {
      grid-template-columns: 1fr;
  }

  .plato h3 {
      font-size: 1.2em;
  }

  .plato p {
      font-size: 0.9em;
  }
}